<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
    <script th:inline="javascript">
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match("micromessenger")) {
            // 微信浏览器
            window.location.href = "wxauth.html?" + [[${params}]];
        } else if (ua.match("alipayclient")) {
            // 支付宝浏览器
        } else {
            alert('请选择使用微信浏览器！');
        }
    </script>
</head>
<body>
<p th:text="'Hello, ' + ${userName} + '!'" />
</body>
</html>