<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>


    <script th:inline="javascript">
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match("micromessenger")) {
            // 微信浏览器
            window.location.href = "wxauth.html?" + [[${params}]];
        } else if (ua.match("alipayclient")) {
            // 支付宝浏览器
        } else {
            alert('请选择使用微信浏览器！');
        }

        $(function () {

            $.ajax({
                timeout: 1500,
                type: 'get',
                url: "/foo",
                dataType: 'json',
                success: function (data) {
                    $('#uuid').html(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("网络超时，请重试");
                }
            });

        });
    </script>
</head>
<body>
<p id="uuid" />
<script th:src="@{/js/location.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-2.0.0.min.js}" type="text/javascript"></script>
</body>
</html>